$bgColor: #24292e;
$text: #fff;

@import "css/1-3.css";
@import "css/menu-mobile-style.css";

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;
}

